$primary_color: #666666;
$secondary_color: #444444;
$accent_color: #F8E213;
$buttons_color:#1786D4;
$alert_color:rgb(231, 0, 0);


$border_color: #9c9c9c;
$text_color_1: #c5c5c5;

$white_color: white;
$bg_gray_color: #1d1c1c;
$bg_white_color: rgb(51, 51, 51);
