$primary_color: #1786D4;
$secondary_color: #14428F;
$buttons_color: #1786D4;
$accent_color: #F8E213;
$alert_color:rgb(231, 0, 0);

$border_color: #e3e3e3;
$text_color_1: #a7a7a7;

$white_color: white;
$bg_gray_color: #fcfcfc;
$bg_white_color: white;
