$color_primary: rgb(10, 103, 131);
$color_white: rgb(255, 255, 255);
$color_gray: rgb(143, 143, 143);

//color from table component
$color_warning: hsl(45, 100%, 51%);
$color_blue: hsl(225, 100%, 60%);
$color_green: hsl(134, 61%, 41%);
